.green {
  color: green;
}

.strike {
  text-decoration: line-through;
}

.mgr-sm {
  margin-right: 8px;
}

.mgl-md {
  margin-left: 24px;
}

.flex {
  display: flex;
}

.flex-1x {
  flex: 1;
}

.todo-item {
  will-change: auto;
  will-change: transform;
}
